@model SugarBItApplication2.Models.Companys
@{
   ViewBag.Title = "Company Name ";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.Label("Companys Name")</td>
            <td>@Html.TextBoxFor(model => model.CompanyName) @Html.ValidationMessageFor(model => model.CompanyName)</td>


        </tr>



    </table>
    <div><input type="submit" value="Save" class="btn btn-default" /></div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<h1>Create</h1>

